body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, verdana, sans-serif;
}


ul#product-list {
//  width: 400px;
}

ul#product-list li {
  list-style-type: none;
  display: block;
}

#main {
	border: 2px solid #aaa;
}

form#shopping-form h3 {
	font-size: 12px;
	margin: 0px;
}

form#shopping-form p{
	margin: 0px;
}

.prod-detail {
  border-left: 1px solid #eee;
 }
 
.shopping-form-control {
	border-top: 1px solid #ccc;
	margin-top: 10px;
}
