<!doctype html>
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Backbone demo</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/text.css" />
  <link rel="stylesheet" href="css/960.css" />


  <link rel="stylesheet" href="css/cart.css" />
  <script src="jquery.min.js"></script> 
  <script src="underscore.js"></script>
  <script src="backbone.js"></script>
  <script src="json2.js"></script>

  <script src="cart.js"></script>
</head>

<body>

  <div id="container_12">

<div id="main" role="main">
	<form id="shopping-form" action="javascript::return false">
   <label for="list-item">Buy: </label><input type="text" id="list-item" />

   <button type="submit">Add to list</button>
  </form>
</div>
	<ul id="product-list" class="content grid_12"></ul>
    </div>



  </div> <!--! end of #container -->
	<script type="text/template" id="product-template">
    <li dataid="<%= Id || 0 %>">
    <div class="prod-detail grid_8">
      <span class="prod-name"><%= title %></span>
      <button type="button" class="done">Done</done>
   </div>
 	</li>
	</script>
</body>
</html>
