<!doctype html>
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Backbone demo</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="css/style.css?v=2">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
  <script src="underscore.js"></script>
  <script src="backbone.js"></script>

	<script>

		var Map = Backbone.model.Extend({
			EMPTY: "Map of nowhere",

			initialize: function() {
				if(!this.get("name")) {
					this.set({"name" : this.EMPTY});
				}
			},	
			
			
		});

		var MapList = new Backbone.Collection.extend({
			model: Map,
			
			
		});

		var Maps = new MapList;
		
		
		var template = _.template("hello: <%= name %>");
	 	console.log(template({name: 'keith'}));

		var bagItem = Backbone.view.extend({
			
			className: "bag-item",
			
			template: _.template($("#map-template").html()),
			
			initialize: function() {
				_.bindAll(this, "render");
			},

			render: function()
			{

			}
		
		});
	</script>
</head>

<body>

  <div id="container">
    <header>

    </header>
    <div id="main" role="main">
	<form name="myFrom" id="myForm">
		<input type="text" id="yourName" />
		<button type="button">Add name</button>
	</form>
	<ul id="names"></ul>
    </div>
    <footer>

    </footer>


  </div> <!--! end of #container -->
	<script type="text/template" id="map-template">
		<li><%= name %></li>
	</script>
</body>
</html>
